<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("ITS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
                @if (User.HasAnyOfRoles(CustomRoles.User, CustomRoles.Customer, CustomRoles.Administrator))
                {
                    <li><a href="/Complain">Complains</a></li>
                }

                @if (User.HasAnyOfRoles(CustomRoles.User, CustomRoles.Administrator))
                {
                    <li><a href="/Vendor"> Vendors</a></li>

                    <li><a href="/ServiceEngineer">Service Engineers</a></li>
                }

                @if (User.IsInRole(CustomRoles.Administrator))
                {
                    <li><a href="/Company"> Companies</a></li>
                    <li><a href="/TypeOfComplain"> Types of Complain</a></li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">code books<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="/State">States</a></li>
                            <li><a href="/PartType">Part Types</a></li>
                            <li><a href="/Part">Parts</a></li>
                            <li><a href="/Unit">Units</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/Account">Accounts</a>
                    </li>
                }
            </ul>

            @if (User.Identity.IsAuthenticated)
            {

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">@User.Identity.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @*<li><a href="/PodaciNaloga"><span class="glyphicon glyphicon-cog"></span> Подешавања</a></li>*@
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Sign Out", "SignOut", "Authentication", new { Area = "" }, null)</li>
                        </ul>
                    </li>

                </ul>
            }

        </div>
    </div>
</nav>




