
@{
    ViewBag.Title = "States";
}
<div>
    <div style="text-align: center; width:100% ">
        <h2>States</h2>
    </div>
    <div align="center" style=" overflow-x: auto;width:100%">
        <table style="margin-left: auto; margin-right: auto; " id="StateJqGridTable"></table>
        <div id="StateJqGridPager"></div>
    </div>
</div>
<style>
    tr.jqgrow td {
        padding: 2px !important;
    }
</style>


@section scripts{
    <script>

        var jqGridId = "#StateJqGridTable";
        var pagerId = "#StateJqGridPager";
        var controller = "State";
        var baseUrl = "/" + controller;

        $(document).ready(function () {

            $(jqGridId).jqGrid({
                url: baseUrl + "/AjaxJqGrid",
                colModel: colModel,
                pager: pagerId,
                gridComplete: function() { setMaxHeightForElement(jqGridId); },
                width: 650,
                shrinkToFit:true
        });

            $(jqGridId).navGrid(
                pagerId,
                navgridOptions,
                editModalOptions,
                createModalOptions,
                deleteModalOptions,
                searchModalOptions,
                viewModalOptions
            );

            $(jqGridId).jqGrid("filterToolbar",
                {
                    stringResult: true,
                    searchOperators: true
                }
            );

        });

        const width = 300;

        const navgridOptions = {view:false};

        const createModalOptions = {
            url: baseUrl + "/AjaxCreate",
            beforeShowForm: function() {},
            width: width
        };

        const editModalOptions = {
            url: baseUrl + "/AjaxUpdate",
            width: width

        };

        const deleteModalOptions = {
            url: baseUrl + "/AjaxDelete"
        };

        const searchModalOptions = {};

        const viewModalOptions = {
            width: width
        };


        const Id = {
            name: "Id",
            template: primaryKeyColumn,
        };

        const Name = {
            name: "Name",
            label: "Name",
            template: textColumn,
            width: 300,
            minResizeWidth: 300,
            editoptions: { maxlength: 100 }
        };

        const Actions = {
            name: "Regions",
            label: "Regions",
            formatter: function (cellvalue, option, rowObject) {
                return '<button style="margin-right:2px;" title="Regions" onClick="openRegions();" class="btn-xsm btn-info"><span class="glyphicon glyphicon-tasks" style="font-size:12px"></span></button>';
            },
            editable: false,
            search: false,
            colmenu: false,
            sortable: false,
            fixed: true,
            align: 'center',
            resizable: false,
            width: 70,
            viewable: false
        };

        function openRegions() {
            setTimeout(function () {
                var selectedRowData = GetSelectedRowData($(jqGridId));
                window.location.href = "/Region?IdState=" + selectedRowData.Id;
            });
        }

        const colModel = [
            Id,
            Name,
            Actions,

        ];
    </script>
}

