
@{
    ViewBag.Title = "TypeOf";
}
<div>
    <div style="text-align: center; width:100% ">
        <h2>Type Of Complains</h2>
    </div>
    <div align="center" style=" overflow-x: auto;width:100%">
        <table style="margin-left: auto; margin-right: auto; " id="TypeOfComplainJqGridTable"></table>
        <div id="TypeOfComplainJqGridPager"></div>
    </div>
</div>
<style>
    tr.jqgrow td {
        padding: 2px !important;
    }
</style>


@section scripts{
    <script>

        var jqGridId = "#TypeOfComplainJqGridTable";
        var pagerId = "#TypeOfComplainJqGridPager";
        var controller = "TypeOfComplain";
        var baseUrl = "/" + controller;

        $(document).ready(function () {

            $(jqGridId).jqGrid({
                url: baseUrl + "/AjaxJqGrid",
                colModel: colModel,
                pager: pagerId,
                gridComplete: function () { setMaxHeightForElement(jqGridId); },
                width: 650,
                shrinkToFit: true,

                
            });

            $(jqGridId).navGrid(
                pagerId,
                navgridOptions,
                editModalOptions,
                createModalOptions,
                deleteModalOptions,
                searchModalOptions,
                viewModalOptions
            );

            $(jqGridId).jqGrid("filterToolbar",
                {
                    stringResult: true,
                    searchOperators: true
                }
            );

        });

        const width = 300;

        const navgridOptions = { view: false };

        const createModalOptions = {
            url: baseUrl + "/AjaxCreate",
            beforeShowForm: function () { },
            width: width
        };

        const editModalOptions = {
            url: baseUrl + "/AjaxUpdate",
            width: width

        };

        const deleteModalOptions = {
            url: baseUrl + "/AjaxDelete"
        };

        const searchModalOptions = {};

        const viewModalOptions = {
            width: width
        };


        const Id = {
            name: "Id",
            template: primaryKeyColumn,
        };

        const Name = {
            name: "Name",
            label: "Name",
            template: textColumn,
            width: 200,
            minResizeWidth: 200,
            editoptions: { maxlength: 100 },
        };

        const Profession = {
            name: "Profession",
            label: "Profession",
            template: textColumn,
            width: 200,
            minResizeWidth: 200,
            editoptions: { maxlength: 100 },
        };

        const Active = {
            name: "Active",
            label: "Active",
            template: boolColumn,
            width: 120,
            minResizeWidth: 120
        };



        const colModel = [
            Id,
            Name,
            Profession,
            Active
        ];

        


    </script>
}

